<! -- наследование шаблона default -->
{% extends 'flatpages/default.html' %}

{% block title %} Find News {% endblock title %}

{% load custom_template_funcs %}

<! -- начало контента -->
{% block content %}


<hr>
<!-- Перед таблицей добавим форму для поиска -->
<form action="{% url 'post_list' %}" method="GET">
    {{ post_search.form }} <!-- Форму от фильтров за нас сделает django.
    А вот кнопку, увы придётся делать самому -->
    <input type="submit" value="Найти">
</form>

<!--<hr>-->

<!--<form method="POST">-->
<!--    {#% csrf_token %#}-->
<!--    {#{ form.as_p }#} &lt;!&ndash; Теперь нам нужна только готовая форма и кнопка &ndash;&gt;-->
<!--    <input type="submit" value="Добавить пост">-->
<!--</form>-->


<! -- конец контента -->
{% endblock content %}